<font size="-1">
		<!--$HELP_INFO-->
		<br/>
	<p><b><!--$TXT_BTN_SHOW_LOG-->							</b><br/><!--$HLP_BTN_SHOW_LOG--></p>
	<p><b><!--$TXT_BTN_DOWNLOAD_LOG-->					</b><br/><!--$HLP_BTN_DOWNLOAD_LOG--></p>
	<p><b><!--$TXT_BTN_EMPTY_LOG-->							</b><br/><!--$HLP_BTN_EMPTY_LOG--></p>
	<p><b><!--$TXT_LABEL_DNSMASQ_USE-->					</b><br/><!--$TXT_LABEL_DNSMASQ_USE_ON-->/<!--$TXT_LABEL_DNSMASQ_USE_OFF--> - <!--$HLP_LABEL_DNSMASQ_USE--></p>
	<p><b><!--$TXT_DNSMASQ_CONTROL-->						</b><br/><!--$HLP_DNSMASQ_CONTROL--></p>
	<p><b><!--$TXT_LABEL_DNSMASQ_CONTROL_PORT--></b><br/><!--$HLP_LABEL_DNSMASQ_CONTROL_PORT--></p>
	<p><b><!--$TXT_LABEL_DNSMASQ_LEASES-->			</b><br/><!--$HLP_LABEL_DNSMASQ_LEASES--></p>
	<p><b><!--$TXT_LABEL_DNSMASQ_HOSTS-->				</b><br/><!--$HLP_LABEL_DNSMASQ_HOSTS--></p>
	<p><b><!--$TXT_LABEL_DNSMASQ_CFG-->					</b><br/><!--$HLP_LABEL_DNSMASQ_CFG--><br><a target="dnsmasq" href="http://www.thekelleys.org.uk/dnsmasq/docs/dnsmasq-man.html">DNSmaq-Manpage</a></p>
	<p><b><!--$TXT_BTN_CHECK_CFG-->							</b><br/><!--$HLP_BTN_CHECK_CFG--></p>
	<p><b><!--$TXT_BTN_SAVE-->									</b><br/><!--$HLP_BTN_SAVE--></p>
</p>
</font>
