                  <div id="dialog"></div>
                  <script type="text/javascript" src="/plugins/<!--$psubfolder-->/jquery-ui-1.9.2.custom.min.js"></script>
                  <script type="text/javascript" src="/plugins/<!--$psubfolder-->/jquery.numberedtextarea.js"></script>
                  <script type="text/javascript" src="/plugins/<!--$psubfolder-->/jquery.extend.js"></script>
                  <script type="text/javascript" src="/plugins/<!--$psubfolder-->/base64.js"></script>
                  <link   type="text/css" rel="stylesheet" href="/plugins/<!--$psubfolder-->/style.css">
                  <center>
                    <table width="100%" style="background: rgba(255,255,192, 0.4); border-radius: 5px; border: 1px solid #7e7e7e; ">
                      <tr>
                        <td width="250px"></td>
                        <td width="200px"></td>
                        <td align="center"><img src="/system/images/icons/<!--$psubfolder-->/icon_64.png"><br/><b><!--$MY_NAME--></b><br/><small><!--$PLUGIN_DESCRIPTION--></small></td>
                        <td width="200px">
                          <a style="width:150px;" id="btnshwlog" data-icon="info"    data-role="button" data-mini="true" target="log" href="/plugins/<!--$psubfolder-->/?mode=show_logfile"><!--$TXT_BTN_SHOW_LOG--></a>
                          <a style="width:150px;" id="btndwllog" data-icon="arrow-d" data-role="button" data-mini="true" target="_self" href="/plugins/<!--$psubfolder-->/?mode=download_logfile"><!--$TXT_BTN_DOWNLOAD_LOG--></a>
                          <a style="width:150px;" id="btndwllog" data-icon="delete"  data-role="button" data-mini="true" target="_self" onclick="ConfirmDialog('<br/><br/><table><tr><td><img src=\'/plugins/<!--$psubfolder-->/ico_delete.png\'></td><td><!--$TXT_EMPTY_LOG_DIALOG_TEXT--></td></tr></table><br/>','<!--$MY_NAME--> - <!--$TXT_EMPTY_LOG_DIALOG_TITLE-->');"><!--$TXT_BTN_EMPTY_LOG--></a>
                        </td>
                        <td width="250px" align="center">
                          <table style="background-color: #ffffc0; border-radius: 5px; border: 1px solid #7e7e7e;">
                            <tr>
                              <td align="center" colspan="2">
                                <div id="controlstat"><img width='40' height='40' src='../../../plugins/<!--$psubfolder-->/DNSMASQ_STATUS_UNKNOWN.png'></div>
                              </td>
                            </tr>
                            <tr>
                              <td align="center" colspan="2">
                                <i><small><nobr><!--$TXT_DNSMASQ_CONTROL--></nobr></small></i>
                              </td>
                            </tr>
                            <tr>
                              <td align="right">
                                <nobr><small><!--$TXT_LABEL_DNSMASQ_CONTROL_PORT--></small></nobr>
                              </td>
                              <td>
                                <div class='editable dnsmasq_param_ok' contenteditable='true' style='text-align:center; width:50px; padding:2px; border: 1px solid #7e7e7e; border-radius: 5px; font-weight: bold; background-color: #ffffff; ' name='CONTROL_PORT_div' id='CONTROL_PORT_div'><!--$CONTROL_PORT--></div>
                              </td>
                            </tr>
                            <tr>
                              <td align="right">
                              	<nobr><small><!--$TXT_LABEL_DNSMASQ_USE--></small></nobr>
															</td>
															<td>
																<select name="DNSMASQ_USE" id="DNSMASQ_USE" data-track-theme="e" data-role="slider">
															  	<option value="off"><!--$TXT_LABEL_DNSMASQ_USE_OFF--></option>
															    <option value="on"><!--$TXT_LABEL_DNSMASQ_USE_ON--></option>
															  </select>
															  <script type="text/javascript">$('#DNSMASQ_USE').val("<!--$DNSMASQ_USE-->");</script>
                              </td>
                            </tr>
                         </table>
                        </td>
                      </tr>
                    </table>
                      <center>
                       <table><tr><td><a style="width:300px;" id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><!--$TXT_BTN_CANCEL--></a></td><td><a style="width:300px;" id="btnsavecfg" data-icon="check" data-role="button" data-mini="true" target="_self" onclick="CheckConfig(1,'<br/><br/><table cellpadding=10><tr><td><img src=\'/plugins/<!--$psubfolder-->/ico_tools.png\'></td><td><!--$TXT_CHECK_CFG_DIALOG_TEXT--></td></tr></table><br/>','<!--$MY_NAME--> - <!--$TXT_CHECK_CFG_DIALOG_TITLE_SAVE-->');"><!--$TXT_BTN_SAVE--></a></td></tr></table>
                      </center>
                    <table cellpadding=0>
                      <tr>
                        <td width="550px">
                          <center>
                            <div id="form-error-message" class="form-error-message">&nbsp;</div>
                          </center>
                        </td>
                      </tr>
                    </table>
                  <form method="post" data-ajax="false" name="main_form" id="main_form" action="./index.cgi">
                    <input type="hidden" name="saveformdata" value="1">
                    <input id="CONTROL_PORT" name="CONTROL_PORT" value="<!--$CONTROL_PORT-->" type="hidden">
                    <div class="form-group">
                      <table class="formtable" width="100%">
                        <tr>
                          <td width="100%" align="left">
                            <table width="100%"><tr><td><nobr><b><!--$TXT_LABEL_DNSMASQ_LEASES--></b></nobr></td><td width="100%" align="right"></td></tr></table>
                            <div style="overflow-wrap: normal; white-space: nowrap; display:none; border-radius: 5px; " id="DNSMASQ_LEASES" cols="60" rows="5" class="form-control" spellcheck="false"><!--$DNSMASQ_LEASES--></div>
                          </td>
                        </tr>
                        <tr>
                          <td width="100%" align="left">
                            <table width="100%"><tr><td><nobr><b><!--$TXT_LABEL_DNSMASQ_HOSTS--></b></nobr></td><td width="100%" align="right"><a style="width:300px;" id="btncheckcfg" data-icon="check" data-role="button" data-mini="true" target="_self" onclick="CheckConfig(0,'<br/><br/><table cellpadding=10><tr><td><img src=\'/plugins/<!--$psubfolder-->/ico_tools.png\'></td><td><!--$TXT_CHECK_CFG_DIALOG_TEXT--></td></tr></table><br/>','<!--$MY_NAME--> - <!--$TXT_CHECK_CFG_DIALOG_TITLE-->');"><!--$TXT_BTN_CHECK_CFG--></a></td></tr></table>
                            <textarea  style="overflow-wrap: normal; white-space: nowrap; overflow-x: scroll; display:none; " id="DNSMASQ_HOSTS" cols="60" rows="5" class="form-control" spellcheck="false"><!--$DNSMASQ_HOSTS--></textarea>
                          </td>
                        </tr>
                        <tr>
                          <td width="100%" align="left">
                            <table width="100%"><tr><td><nobr><b><!--$TXT_LABEL_DNSMASQ_CFG--></b></nobr></td><td width="100%" align="right"><a style="width:300px;" id="btncheckcfg" data-icon="check" data-role="button" data-mini="true" target="_self" onclick="CheckConfig(0,'<br/><br/><table cellpadding=10><tr><td><img src=\'/plugins/<!--$psubfolder-->/ico_tools.png\'></td><td><!--$TXT_CHECK_CFG_DIALOG_TEXT--></td></tr></table><br/>','<!--$MY_NAME--> - <!--$TXT_CHECK_CFG_DIALOG_TITLE-->');"><!--$TXT_BTN_CHECK_CFG--></a></td></tr></table>
                            <textarea style="overflow-wrap: normal; white-space: nowrap; overflow-x: scroll; display:none;" id="DNSMASQ_CFG" cols="60" rows="5" class="form-control" spellcheck="false"><!--$DNSMASQ_CFG--></textarea>
                          </td>
                        </tr>
                      </table>
                    </div>
                    <p>
                      <center>
                       <table><tr><td><a style="width:300px;" id="btncancel" data-role="button" data-inline="true" data-mini="true" data-icon="delete" href="/admin/index.cgi"><!--$TXT_BTN_CANCEL--></a></td><td><a style="width:300px;" id="btnsavecfg" data-icon="check" data-role="button" data-mini="true" target="_self" onclick="CheckConfig(1,'<br/><br/><table cellpadding=10><tr><td><img src=\'/plugins/<!--$psubfolder-->/ico_tools.png\'></td><td><!--$TXT_CHECK_CFG_DIALOG_TEXT--></td></tr></table><br/>','<!--$MY_NAME--> - <!--$TXT_CHECK_CFG_DIALOG_TITLE_SAVE-->');"><!--$TXT_BTN_SAVE--></a></td></tr></table>
                      </center>
                    </p>
                  </form>
                  <script type="text/javascript">
										// Control Port
                  	$('#CONTROL_PORT_div').on('blur mouseup keypress keyup paste input', function(event)
                    {
                      $(this).val($(this).val().replace(/[^\d].+/, ""));
                      if ((event.which < 48 || event.which > 57)) 
                      {
                          event.preventDefault();
                      }
                      if ( $(this).html().length >= 5 ) 
                      {
												  if (document.activeElement.id == 'CONTROL_PORT_div' && document.getSelection() != 0 )
                      		{
	                          //If text is selected in Control Port, allow input
	                        }
                      		else
                      		{
	                      		event.preventDefault();
                      		}
                      }
                      
                      var rule = /^([5]{1}[0-9]{4})$/;
                      if(!rule.test($('#CONTROL_PORT_div').text()))
                      {
                        $('#form-error-message').html('<!--$TXT_ERROR_ENTER_VALID_CONTROL_PORT-->');
                        var offset = $('#CONTROL_PORT_div').offset();
                        $('#form-error-message').fadeIn(400);
                        $('#form-error-message').css({'padding': '5px', 'border': '1px solid #FF0000', 'border-radius': '5px', 'color': '#FF0000', 'background-color': '#FFFFC0', 'z-index': 1000, 'top': offset.top - 35, 'left': offset.left, 'position':'absolute'});
                        setTimeout( function() { $('#form-error-message').fadeOut(400); }, 4000);
                        $('#btnsavecfg').prop('disabled','true');
                        $('#CONTROL_PORT_div').removeClass('dnsmasq_param_ok').addClass('dnsmasq_param_error');
                      }
                      else
                      {
                        $('#btnsavecfg').prop('disabled','');
                        $('#CONTROL_PORT_div').removeClass('dnsmasq_param_error').addClass('dnsmasq_param_ok');
                        $('#CONTROL_PORT').val($('#CONTROL_PORT_div').text());
                      }
                    });  
                    $('#CONTROL_PORT_div').on('blur mouseup keypress keyup paste input', function(event)
                    {
                      $(this).val($(this).val().replace(/[^\d].+/, ""));
                      if ((event.which < 48 || event.which > 57)) 
                      {
                          event.preventDefault();
                      }
                      if ( $(this).html().length >= 5 ) 
                      {
												  if (document.activeElement.id == 'CONTROL_PORT_div' && document.getSelection() != 0 )
                      		{
	                          //If text is selected in Control Port, allow input
	                        }
                      		else
                      		{
	                      		event.preventDefault();
                      		}
                      }
                      
                      var rule = /^([5]{1}[0-9]{4})$/;
                      if(!rule.test($('#CONTROL_PORT_div').text()))
                      {
                        $('#form-error-message').html('<!--$TXT_ERROR_ENTER_VALID_CONTROL_PORT-->');
                        var offset = $('#CONTROL_PORT_div').offset();
                        $('#form-error-message').fadeIn(400);
                        $('#form-error-message').css({'padding': '5px', 'border': '1px solid #FF0000', 'border-radius': '5px', 'color': '#FF0000', 'background-color': '#FFFFC0', 'z-index': 1000, 'top': offset.top - 35, 'left': offset.left, 'position':'absolute'});
                        setTimeout( function() { $('#form-error-message').fadeOut(400); }, 4000);
                        $('#btnsavecfg').prop('disabled','true');
                        $('#CONTROL_PORT_div').removeClass('dnsmasq_param_ok').addClass('dnsmasq_param_error');
                      }
                      else
                      {
                        $('#btnsavecfg').prop('disabled','');
                        $('#CONTROL_PORT_div').removeClass('dnsmasq_param_error').addClass('dnsmasq_param_ok');
                        $('#CONTROL_PORT').val($('#CONTROL_PORT_div').text());
                      }
                    });
                    function ConfirmDialog(message,title)
                    {
                        $('#dialog').html(message)
                        .prop('id','dialog')
                        .dialog(
                        {
                          modal: true, title: title, zIndex: 10000, autoOpen: true,
                          resizable: true, 
													width: 'auto',									
													height: 'auto',
													minWidth: '400',
													minHeight: '330',
                          buttons:
                          {
                            <!--$TXT_BTN_YES-->: function ()
                            {
                              $(":button:contains('<!--$TXT_BTN_YES-->')").prop("disabled", true).addClass("ui-state-disabled");
                              $('#dialog').html('<center><br/><br/><!--$TXT_EMPTY_LOG_DIALOG_PROGRESS--></center><br/><br/><br/><br/>');
                              $.get( "/plugins/<!--$psubfolder-->/?mode=empty_logfile", function( data ) 
                              {
                                $('#dialog').html('<center><br/>'+data+'</center>');
                                setTimeout( function() { $('#dialog').dialog("close"); }, 2000);
                              }).fail(function() { $('#dialog').html('<center><br/><!--$TXT_EMPTY_LOG_DIALOG_AUTHENTICATE--></center>'); $(":button:contains('<!--$TXT_BTN_YES-->')").prop("disabled", '').removeClass("ui-state-disabled"); });
                            },
                            <!--$TXT_BTN_NO-->: function ()
                            {
                              $('#dialog').dialog("close");
                            }
                          },
                          close: function (event, ui)
                          {
                            $(this).hide();
                          }
                        });
                    };
                    function get_leases()
                      {
                        $.ajax(
                        {
                          type: "GET",
                          dataType: "text",
                          url: "./index.cgi?do=test",
                          cache: false,
                          success: function(data)
                          {
                            switch(data) 
                            {
                              case 'DNSMASQ_STATUS_0':
                              case 'DNSMASQ_STATUS_3':
                              case 'DNSMASQ_STATUS_768':
                              case 'DNSMASQ_STATUS_DOWN':
                              case 'DNSMASQ_STATUS_OFF':
                                  $( "#controlstat" ).html("<img width='40' height='40' src='../../../plugins/<!--$psubfolder-->/"+data+".png'>" );
                                  break;
                              default:
                                $( "#controlstat" ).html( "<img width='40' height='40' src='../../../plugins/<!--$psubfolder-->/DNSMASQ_STATUS_UNKNOWN.png'>" );
                            }
                          }
                        }).fail(function() 
                        { 
                            $( "#controlstat" ).html( "<img width='40' height='40' src='../../../plugins/<!--$psubfolder-->/DNSMASQ_STATUS_UNKNOWN.png'>" );
                        });
                        
                        $.ajax(
                        {
                          type: "GET",
                          dataType: "text",
                          url: "./index.cgi?do=get_leases",
                          cache: false,
                          success: function(data)
                          {
                            if ( data == "0")
                            {
                              data = '<!--$TXT_ERROR_NO_LEASES-->';
                              $('#DNSMASQ_LEASES').html(data);
                            }
                            else
                            {
                              $('#DNSMASQ_LEASES').html(data);
                            }
                          }
                        }).fail(function() 
                        { 
                             $('#DNSMASQ_LEASES').html('<!--$TXT_ERROR_GET_LEASES-->');
                        });
                        setTimeout( function() 
                        { 
                          get_leases();
                        }, 15000);                    
                      };



                    function CheckConfig(save,message,title)
                    {
                    		if ( $('#btnsavecfg').prop('disabled') == 'true' )
                    		{
	                        $('#form-error-message').html('<!--$TXT_ERROR_ENTER_VALID_CONTROL_PORT-->');
	                        $("html, body").animate({ scrollTop: 0 }, "slow");
	                        var offset = $('#CONTROL_PORT_div').offset();
	                        $('#form-error-message').fadeIn(400);
	                        $('#form-error-message').css({'padding': '5px', 'border': '1px solid #FF0000', 'border-radius': '5px', 'color': '#FF0000', 'background-color': '#FFFFC0', 'z-index': 1000, 'top': offset.top - 35, 'left': offset.left, 'position':'absolute'});
	                        setTimeout( function() { $('#form-error-message').fadeOut(400); }, 5000);
                    			return;	
                    		}
                    		
                        $('#dialog').html(message)
                        .prop('id','dialog')
                        .dialog(
                        {
                          modal: false, title: title, zIndex: 10000, autoOpen: true, resizable: true, 
                          dialogClass: 'fixedDialog',
													width: 'auto',									
													height: 'auto',
													minWidth: '410',
													minHeight: '330',
                          buttons:
                          {
                            '<!--$TXT_BTN_CHECK_CFG_DIALOG_CHECK-->': function ()
                            {
                              $('#dialog').html('<center><br/><br/><div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div><!--$TXT_PLEASE_WAIT--><br/><br/><br/>');
                              $.ajax(
                              {
                                type: "POST",
                                dataType: "text",
                                url: "./index.cgi?do=check_config",
                                data: { CONTROL_PORT: $("#CONTROL_PORT").val(), DNSMASQ_USE: $("#DNSMASQ_USE").val(), save_data: 0, cfg_stream: Base64.encode($("#DNSMASQ_CFG").val()) , hosts_stream: Base64.encode($("#DNSMASQ_HOSTS").val())},
                                cache: false,
                                success: function(data)
                                {
                                  var test_result = data.split("_gnampf_");
                                  if (test_result.length > 3 && test_result[2] == "error")
                                  {
                                    dialog = $('#dialog').closest('.ui-dialog');
                                    var line_with_error = parseInt(test_result[1]);
                                    $('#dialog').html('<table><tr><td><img src="/plugins/<!--$psubfolder-->/ico_chk_'+test_result[2]+'.png"></td><td><!--$TXT_ERR_CFG_CHK--><br/><br/><span class="dnsmasq_param_error">'+test_result[3]+': <b>'+test_result[0]+'</b></span><br/><br/><!--$TXT_ERR_CFG_LINE--> '+line_with_error+'<br/><br/></td></tr></table>');
                                    if (line_with_error == 1)
                                    {
                                    $("#DNSMASQ_"+test_result[3]).setSelection(0,$('#DNSMASQ_'+test_result[3]).text().split("\n", line_with_error).join("\n").length+1);              
                                    }
                                    else if (line_with_error == $("#DNSMASQ_"+test_result[3]).val().split("\n").length )
                                    {
                                    $("#DNSMASQ_"+test_result[3]).setSelection($('#DNSMASQ_'+test_result[3]).val().split("\n", line_with_error-1).join("\n").length+1,$('#DNSMASQ_'+test_result[3]).val().split("\n", line_with_error).join("\n").length+1);              
                                    }
                                    else
                                    {
                                    $("#DNSMASQ_"+test_result[3]).setSelection($('#DNSMASQ_'+test_result[3]).val().split("\n", line_with_error-1).join("\n").length+1,$('#DNSMASQ_'+test_result[3]).val().split("\n", line_with_error).join("\n").length+1);              
                                    }
                                    dialog.animate( 
                                    {
                                      left: document.body.clientWidth - $('#dialog').width() - 100, // or you might want to use .outerWidth()
                                      top: 20
                                    }, 'slow');

                                  }
                                  else
                                  {
                                    $('#dialog').html('<table><tr><td><img src="/plugins/<!--$psubfolder-->/ico_chk_'+test_result[1]+'.png"></td><td><!--$TXT_OK_CFG_CHK--><br/><br/><span class="dnsmasq_param_ok"><b>'+test_result[0]+'</b></span><br/><br/></td></tr></table>');
                                    if ( save == 1 )
                                    {
                                      $('#dialog').html('<table><tr><td rowspan="2"><img src="/plugins/<!--$psubfolder-->/ico_chk_'+test_result[1]+'.png"></td><td align="center"><!--$TXT_OK_CFG_CHK--><br/><br/><span class="dnsmasq_param_ok"><b>'+test_result[0]+'</b></span><br/><br/></td></tr><tr><td align="center"><!--$TXT_SAVE_DIALOG--><div class="spinner"><div class="rect1"></div><div class="rect2"></div><div class="rect3"></div><div class="rect4"></div><div class="rect5"></div></div><!--$TXT_PLEASE_WAIT--></td></tr></table>');
                                    	$('.ui-dialog-buttonpane button:contains("<!--$TXT_BTN_CHECK_CFG_DIALOG_CHECK-->")').button().hide();
                                    	setTimeout( function() 
                                      { 
                                        $.ajax(
                                            {
                                              type: "POST",
                                              dataType: "text",
                                              url: "./index.cgi?do=check_config",
                                              data: { CONTROL_PORT: $("#CONTROL_PORT").val(), DNSMASQ_USE: $("#DNSMASQ_USE").val(), save_data: 1, cfg_stream: Base64.encode($("#DNSMASQ_CFG").val()) , hosts_stream: Base64.encode($("#DNSMASQ_HOSTS").val())},
                                              cache: false,
                                              success: function(data)
                                              {
                                                  if ( data == "ok" )
                                                  {
                                                    $('#dialog').html('<table><tr><td><img src="/plugins/<!--$psubfolder-->/ico_chk_ok.png"></td><td><br/><!--$TXT_SAVE_DIALOG_OK--><br/><br/></td></tr></table>');
                                                    setTimeout( function() 
                                                    { 
                                                                $('#dialog').dialog("close");
                                                                location.reload(true);
                                                    }, 2000);                    
                                                  }
                                                  else
                                                  {
                                                    $('#dialog').html('<table><tr><td><img src="/plugins/<!--$psubfolder-->/ico_chk_error.png"></td><td><!--$TXT_SAVE_DIALOG_FAIL--><br\><br\>'+data+'<br/><br/></td></tr></table>');
                                                  }
                                              }
                                            }).fail(function() 
                                            { 
                                                 $('#dialog').html('<table><tr><td><img src="/plugins/<!--$psubfolder-->/ico_chk_error.png"></td><td><br/><br/><!--$TXT_SAVE_DIALOG_FAIL--><br/><br/></td></tr></table>');
                                            });
                                      }, 500);                    
                                    }
                                  }
                                }
                              }).fail(function() { $('#dialog').html('<center><br/><!--$TXT_CHECK_CFG_DIALOG_FAIL--><br/><br/></center>'); });
                            },
                            '<!--$TXT_BTN_CHECK_CFG_DIALOG_CLOSE-->': function ()
                            {
                              $('#dialog').dialog("close");
                            }
                          },
                          close: function (event, ui)
                          {
                            $(this).hide();
                          }
                        });
                        $('.ui-button:contains("<!--$TXT_BTN_CHECK_CFG_DIALOG_CHECK-->")').click()
                    };
    
                              
                    // Only odd line numbers allowed for look and feel reasons (dirty hack)
                    $('#DNSMASQ_CFG').keyup(function(e) 
                    {
                        if((e.keyCode == 13 || e.keyCode == 8 || e.keyCode == 46 ))  
                        {
                          cursorposition = $("#DNSMASQ_CFG").getCursorPosition();
                          if ( cursorposition != $("#DNSMASQ_CFG").val().length )
                          {
                            $("#DNSMASQ_CFG").val($("#DNSMASQ_CFG").val().trim());
                          }
                          newLines = $(this).val().split("\n").length;
                          if (newLines % 2 === 0)
                          {
                            $('#DNSMASQ_CFG').val(function(_, val){ return val + '\n'; }); 
                          }
                          $("#DNSMASQ_CFG").setCursorPosition(cursorposition); 
                        }
                    });
                    $('#DNSMASQ_HOSTS').keyup(function(e) 
                    {
                        if((e.keyCode == 13 || e.keyCode == 8 || e.keyCode == 46 ))  
                        {
                          cursorposition = $("#DNSMASQ_HOSTS").getCursorPosition();
                          if ( cursorposition != $("#DNSMASQ_HOSTS").val().length )
                          {
                            $("#DNSMASQ_HOSTS").val($("#DNSMASQ_HOSTS").val().trim());
                          }
                          newLines = $(this).val().split("\n").length;
                          if (newLines % 2 === 0)
                          {
                            $('#DNSMASQ_HOSTS').val(function(_, val){ return val + '\n'; }); 
                          }
                          $("#DNSMASQ_HOSTS").setCursorPosition(cursorposition); 
                        }
                    });
                    $( document ).ready(function()
                    {
                      $("#DNSMASQ_CFG").val($("#DNSMASQ_CFG").val().trim());
                      $("#DNSMASQ_HOSTS").val($("#DNSMASQ_HOSTS").val().trim());
                      if($("#DNSMASQ_CFG").val().split("\n").length % 2 === 0)  
                      {
                        $('#DNSMASQ_CFG').val(function(_, val){ return val + '\n'; }); 
                      }
                      if($("#DNSMASQ_HOSTS").val().split("\n").length % 2 === 0)  
                      {
                        $('#DNSMASQ_HOSTS').val(function(_, val){ return val + '\n'; }); 
                      }

                      setTimeout( function() 
                      { 
                        $('textarea').numberedtextarea(); 
                        $("#DNSMASQ_CFG").fadeTo( 'slow', 1 ); 
                        $("#DNSMASQ_HOSTS").fadeTo( 'slow', 1 ); 
                        $("#DNSMASQ_LEASES").fadeTo( 'slow', 1 ); 
                      }, 200);                    

                      get_leases();
                    });
                  </script>
